<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>NeoBabel</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <main class="wrapper">
        <section class="card">
            <h1 class="title">NeoBabel</h1>
            <div class="grid">
                <div>
                    <div class="lang-row">
                        <h2 id="source-lang">Recorded Language: {{ recorded_lang }}</h2>
                    </div>
                    <label for="source-text" style="margin-top:12px">Text to translate</label>
                    <textarea id="source-text" readonly>{{ text }}</textarea>

                    <div class="row" style="margin-top:8px">
                        <form action="/record" method="post">
                            <input type="hidden" name="text" value="{{ text }}">
                            <button id="speak-btn" class="secondary" type="submit">Record</button>
                        </form>
                        <div style="flex:1"></div>
                        <a href="/clear"><button id="clear-btn" class="secondary">Clear</button></a>
                    </div>
                </div>

                <div>
                    <label for="target-lang">To</label>
                    <select id="target-lang" name="code" form="translate-form" aria-label="target language">
                        {% for lang in translated_langs %}
                        <option value="{{lang.code}}">{{ lang.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="target-text" style="margin-top:12px">Translation</label>
                    <textarea id="target-text" readonly>{{ output }}</textarea>

                    <div class="row" style="margin-top:8px">
                        <a href="/playagain"><button id="play-tts" class="secondary">Play Again</button></a>
                    </div>
                </div>
            </div>
            <div class="bottom-row" style="margin-top:8px">
                <form id="translate-form" action="/translate" method="post">
                    <input type="hidden" name="text" value="{{ text }}">
                    <input type="hidden" name="recorded_lang" value="{{ recorded_lang }}">
                    <button id="translate-btn" type="submit">Translate</button>
                </form>
            </div>
        </section>
    </main>
</html>